export PYENV_VERSION='sandbox'
export venv_path=$(find_up */bin/activate)

if [ -n "$PYENV_VERSION" ]
then
	echo "Using virtual env: $(tput bold)$PYENV_VERSION$(tput sgr0)"
	unset venv_path
elif [ -n "$venv_path" ]
then
	export venv_name=$(echo $venv_path | awk -F '/' '{print $(NF-2)}')
	echo "Using virtual env: $(tput bold)$venv_name$(tput sgr0)"
	source $(find_up */bin/activate)
	unset PYENV_VERSION
else
	echo "No virtual env found"
	unset venv_path
	unset PYENV_VERSION
fi